Reisgids Utrecht.xcworkspace/xcuserdata/
Utrecht Gids.xcodeproj/project.xcworkspace/xcuserdata/
Utrecht Gids.xcodeproj/xcuserdata/
build
Test/Walking.trace/instrument_data/*
Photos/*
Prefill/Prefill Bundle/Prefill Bundle.xcodeproj/project.xcworkspace/
Prefill/Prefill Bundle/Prefill Bundle.xcodeproj/xcuserdata
Prefill/Prefill Bundle/Prefill Bundle/waypoints.plist
Reisgids Utrecht.xcworkspace/xcuserdata
